@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Playball);

body{
    /*overflow-x: hidden;*/
    font-family: 'Open Sans', sans-serif;
}

p{  
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    line-height: 20px;
    font-weight: 100;
}

*{
    outline-color: transparent !important;
}

/*===== common ====*/
.bg-color{
    background-color: #8FC93F !important;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-l-0{
    padding-left: 0;
}

.p-l-r-0{
    padding-left: 0;
    padding-right: 0;
}

.small-tag {
    color: #777;
    font-family: "Raleway",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h2.section-title{
    text-transform: uppercase;
    color: #131313;
    margin-top: 0; 
    margin-bottom: 30px;
    word-spacing: 5px; 
    font-size: 30px;
    font-weight: 700;  
}

.section-para{
    color: #999;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.btn.btn-default{
    background-color: #8FC93F;
    color: #fff;
    border-color: #8FC93F;
    border-radius: 0; 
    padding: 10px 20px; 
    text-transform: uppercase;
    word-spacing: 3px;
    font-size: 13px;
    margin: 5px; 
}

.btn.btn-primary{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 0; 
    padding: 10px 20px; 
    text-transform: uppercase; 
    font-size: 13px
}

.btn.btn-default:hover,
.btn.btn-primary:hover{
    background-color: #121212;
    border-color: #121212;
    color: #fff;
}

.btn.btn-primary,
.btn.btn-default,
.what-we-do .do-box,
.service-overflow {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.service-overflow{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}


/*===== header ====*/

/* media quaries */





/*===== recent event ====*/
section.recent-event{
    padding-top: 0;
    padding-bottom: 0;
}

.recent-event{
    background-color: #8FC93F;
}

.event-box{
    padding-top: 20px;
    padding-bottom: 40px;
}

.event-box p{
    color: #f0f0f0;
    font-size: 13px; 
    max-width: 250px;
    margin-bottom: 25px
}
.event-box h3{
    color: #fff; 
    text-transform: uppercase;
    font-size: 20px; 
    font-weight: 600; 
    word-spacing: 5px;
    margin-bottom: 20px; 
}

.event-box a i.lnr{
    font-size: 12px;
    margin-left: 5px;
}

.event-img img{
    width: 100%;
    position: relative;
}

.event-overflow{
    position: absolute;
    left: 20px; 
    bottom: 15px;
}

.event-overflow small{
    color: #f8f8f8; 
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
}
.event-overflow > p {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
}

/*===== what we do ====*/
.what-we-do{
    padding-bottom: 55px;
    padding-top: 80px;
}

.what-we-do .do-box{
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 45px;
}

.do-box i{
    margin: 0 auto;
    text-align: center;
}

.do-box i.lnr {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    color: #8FC93F;
    font-size: 25px;
    float: left;
    width: 65px;
    height: 65px;
    position: absolute;
    margin-top: -32.5px;
    padding-top: 20px; 
    margin-left:-32.5px
}

.do-box h3{
    margin-top: 60px;
    margin-bottom: 20px; 
    color: #000; 
    font-size: 25px;
}

.do-box p{
    color: #aaa;
    max-width: 250px; 
    margin: 0 auto;
    margin-bottom: 40px;
}

.do-box:hover i.lnr{
    color: #8FC93F;
    border-color: #8FC93F;
}

.do-box.bg-color,
.do-box:hover{
    cursor: pointer;
    background-color: #8FC93F;
    border-color: #8FC93F;
}

.do-box.bg-color i.lnr{
    color: #8FC93F;
    border-color: #8FC93F;
}

.do-box.bg-color h3,
.do-box:hover h3{
    color: #fff;
}

.do-box.bg-color p,
.do-box:hover p{
    color: #f8f8f8;
}

/*===== about us ====*/
.about-us{
    background-color: #121212;
    padding-bottom: 0;
    padding-top: 0;
}

.about-content{
    margin: 60px 0 30px 20px;
}

.about-content h2{
    color: #8FC93F;
}

.about-content > p{
    color: #707070;
    font-weight: 100;
    line-height: 20px;
    max-width: 535px;
}

.about-us img, .carousel-inner > .item > img{
    height: 400px;
}

/*===== our service ====*/

.four-slide .single-slide img{
    width: 100%;
}

.single-slide{
    position: relative;
}

.single-slide img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.owl-theme .owl-controls .owl-page span {
    background: #8FC93F;
    opacity: 0.3;
    border-radius: 0;
    height: 4px;
    width: 25px;
}

.owl-theme .owl-controls {
    margin-top: 35px;
}

.service-overflow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    opacity: 0;
}

.single-slide:hover .service-overflow{
    opacity: 1;
}

.service-overflow h3{
    color: #8FC93F;
    margin-top: 0;
}

.service-overflow p{
    color: #888;
    margin: 0 auto;
    max-width: 260px;
}

/*===== extra feature ====*/
.extra-feature{
    padding-top: 100px;
    overflow: hidden;
    background-color: #F7F7F7;
}

.extra-feature .section-title{
    max-width: 350; 
    line-height: 1.3;
}

.extra-feature .section-title > span{
    color: #8FC93F;
}

.extra-feature p{
    max-width: 400; 
    margin-bottom: 20px;
}

.extra-feature .btn.btn-default{
    margin-bottom: 30px;
}

.e-feature{
    position: relative;
    height: 200px;
}

.feature-img {
    bottom: 0;
    max-width: 480px;
    position: absolute;
    top: 30px;
    width: 100%;
}
/*===== our experts ====*/
.our-experts{
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #8FC93F;
}

.our-experts .section-title{
    color: #fff;
    margin-top: 30px;
}

.our-experts p{
    color: #f0f0f0;
    margin-bottom: 25px;
}

.our-experts .btn.btn-primary{
    margin-bottom: 30px;
}

.our-experts .single-slide img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our-experts .single-slide img {
  border: 4px solid #F8FAF9;
  margin-bottom: 35px;
  padding: 2px;
  max-width: 165px;
}

h3.expert-name {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 10px;
    line-height: 0;
    font-size: 18px;
  text-transform: uppercase;
}

strong.expert-tag{
    font-weight: 400;
    font-style: italic;
    color: #f0f0f0;
    font-size: 13px;
}

/*===== talk about us ====*/
.talk-about-us{
    padding-bottom: 110px;
    padding-top: 100px;
}

.talk-about-us strong{
    color: #8FC93F; 
    font-weight: 600;
    font-style: italic;
}

.talk-about-us .item > p{
    max-width: 650px; 
    margin: 0 auto; 
    line-height: 1.9;  
    margin-bottom: 20px;
}

.talk-about-us .carousel-indicators li {
    background-color: #DCDCDC;
    border: 0;
    border-radius: 0;
    height: 4px;
    margin: 1px;
    width: 30px;
}

.talk-about-us .carousel-indicators li.active {
    background-color: #8FC93F;
}

.talk-about-us .carousel-indicators {
    bottom: -70px;
}

/*===== our client ====*/
.our-client{
    background: url("../images/client.jpg") no-repeat scroll 0 0 / cover;
}

.single-slide img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our-client .single-slide{
    color: #fff;
    display: block;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700; 
    font-size: 20px;
}

.our-client .owl-theme .owl-controls {
    margin-top: 0;
    display: none !important;
}

/*===== contact ====*/
.contact{
    padding-top: 90px;
}

.contact .section-title{
    margin-bottom: 30px;
}

.contact .border{
    margin-bottom: 80px;

}

/* border */
.border{
    position: relative;
    margin-bottom: 60px;
    display: inline-block;
}

.border-l-r{
    font-size: 24px; 
    color: #8FC93F;
    position: absolute;
}

.border-l-r .lnr,
.border-l-r .fa {
    position: relative;
    top: -8px;
    left: -10px;
}

.border-l-r::after {
    background-color: #e6e6e6;
    content: "";
    height: 2px;
    left: 30px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 40px;
}

.border-l-r::before {
    background-color: #e6e6e6;
    content: "";
    height: 2px;
    right: 50px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 40px;
}

/*
.contact .list-inline span::after {
    background-color: #E5E5E5;
    content: "";
    height: 1px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 150px;
    z-index: -1;
}

.contact .list-inline li span::before {
    background-color: #E5E5E5;
    content: "";
    height: 1px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 150px;
    width: 150px;
    z-index: -1;
}
*/

.contact .form-group .btn.btn-default{
    margin: 0;
    padding: 28px 20px;
    font-weight: 600;
}
    
.contact .form-group{
    margin-bottom: 22px;
}

.contact .form-control {
    background-color: #F7F7F7;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    font-size: 13px;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
}

.contact .textarea{
    min-height: 80px !important;
    width: 100% !important;
}

/*===== footer ====*/
.footer{
    background-color: #121212;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer p{
    color: #707070;
    color: #aaa;
    font-size: 10px; 
    margin-bottom: 0px
}

.footer span i.lnr{
    float: right;
    cursor: pointer;
    margin-top: -37px; 
    color: #fff; 
    padding: 7px;
    background-color: #8FC93F;
    width: 35px;
    height: 35px; 
    font-size: 16px;
}